* {
    box-sizing: border-box;
    font-weight: normal;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: white;
    margin: 0;
}

a {
    color: DeepSkyBlue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: DarkSalmon;
}

h2 {
    margin-bottom: 3rem;
}

img {
    display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: DarkSalmon;
    text-shadow:
        0 0 0.2rem black, 0 0 0.2rem black, 0 0 0.2rem black,
        0 0 0.3rem black, 0 0 0.3rem black, 0 0 0.3rem black,
        0 0 0.4rem black, 0 0 0.4rem black, 0 0 0.4rem black,
        0 0 0.5rem black, 0 0 0.5rem black, 0 0 0.5rem black;
}

section {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
    max-width: 140rem;
    padding: 1rem;
    margin: 2rem auto;
}

#main {
    padding: 1.5rem;
    background-color: Peru;
    background-image: url(https://i.postimg.cc/qq48ncD3/martian-surface.jpg),
        linear-gradient(Black 25%, Peru 30%, Bisque 35%, Peru);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#logo {
    width: 16rem;
    height: auto;
    margin: 1rem;
}

#title h1 {
    font-size: 6rem;
    margin: 0 8rem;
}

#title p {
    font-size: 2rem;
}

#intro {
    overflow: auto;
    margin: auto;
    padding: 0;
}

#img-div {
    margin: 0;
    padding: 1rem;
    width: 75%;
    float: right;
}

#story {
    margin: 0px;
    padding: 0 1rem;
}

#story p {
    text-align: left;
}

#image {
    max-width: 100%;
    border-radius: 1rem;
}

#img-caption {
    margin: 0.5rem;
    font-style: italic;
    font-size: 1.6rem;
    color: DarkSalmon;
}

@media screen and (max-width: 800px) {
    #logo {
        width: 14rem;
    }

    #title h1 {
        font-size: 5rem;
        margin: 0 4rem;
    }

    #img-div {
        width: 100%;
        padding: 1rem 1rem 3rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    #main {
        padding: 0.5rem;
    }

    header {
        flex-wrap: wrap;
    }

    #logo {
        width: 12rem;
    }

    #title h1 {
        font-size: 4.5rem;
        margin: 0 2rem;
        line-height: 1.2;
    }

    #title p {
        font-size: 1.6rem;
    }

    #img-caption {
        font-size: 1.3rem;
    }
}

ul {
    text-align: left;
}

li {
    margin: 2rem 0;
}

li time {
    display: block;
    font-weight: bold;
}

#footer {
    max-width: 80rem;
}

blockquote {
    font-style: italic;
    text-align: left;
    color: Silver;
    margin-bottom: 4rem;
}

cite {
    display: block;
    text-align: right;
    font-size: 1.3rem;
}